include LICENSE README.md CHANGELOG.md pyproject.toml setup.py
recursive-include skroute *.pyx *.pxd *.pyi py.typed
recursive-include skroute/datasets/_data *.tsp *.csv
recursive-include skroute/datasets/_descr *.md
prune skroute/**/__pycache__
global-exclude *.so *.pyd *.c *.html *.pkl
